Nama : Aris Dwi Wahyudi

Nim : A11.2020.13070

# **Tugas 3 Processing Data**

Saya menggunakan Data yang tertera dikulino, tetapi memodifikasi cara processing datanya

# 1.   Import library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# 2. Load data

In [2]:
df = pd.read_csv('Data.csv')

# 3. Melihat informasi umum dari dataframe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

# 4. Melihat isi dari dataframe

In [4]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

# 5. Menghapus kolom yang tidak diperlukan

In [12]:

# Menghapus baris yang memiliki nilai NaN pada kolom 'Salary'
df.dropna(subset=['Salary'], inplace=True)

# 6. Encoding data kategori pada Atribut dan Class/Label

In [45]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Melakukan encoding pada data kategori (atribut)
df_encoded = pd.get_dummies(df, columns=['Country'])

# Melakukan encoding pada data kategori (class/label)
le = LabelEncoder()
df['Purchased'] = le.fit_transform(df['Purchased'])

# Menampilkan hasil encoding dalam data frame
print('Hasil Encoding Data Frame:')
print(df_encoded)
print('\n')
print('Hasil Encoding Kolom Purchased:')
print(df)

Hasil Encoding Data Frame:
    Age   Salary Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0        No               1                0              0
1  27.0  48000.0       Yes               0                0              1
2  30.0  54000.0        No               0                1              0
3  38.0  61000.0        No               0                0              1
5  35.0  58000.0       Yes               1                0              0
7  48.0  79000.0       Yes               1                0              0
8  50.0  83000.0        No               0                1              0
9  37.0  67000.0       Yes               1                0              0


Hasil Encoding Kolom Purchased:
   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

# 7. Membagi dataset menjadi training set dan test set

In [59]:
from sklearn.model_selection import train_test_split
# Memisahkan atribut dan label
X = df_encoded.drop('Purchased', axis=1)
y = df['Purchased']

# Membagi dataset menjadi training set dan test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print('Training Set X:\n', X_train)
print('Training Set X:\n', X_test)
print('Training Set Y:\n', y_train)
print('Training Set Y:\n', y_test)
# Menampilkan ukuran dari training set dan test set
print('Ukuran Training Set: ', X_train.shape, y_train.shape)
print('Ukuran Test Set: ', X_test.shape, y_test.shape)

Training Set X:
     Age   Salary  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0               1                0              0
9  37.0  67000.0               1                0              0
2  30.0  54000.0               0                1              0
5  35.0  58000.0               1                0              0
3  38.0  61000.0               0                0              1
8  50.0  83000.0               0                1              0
Training Set X:
     Age   Salary  Country_France  Country_Germany  Country_Spain
1  27.0  48000.0               0                0              1
7  48.0  79000.0               1                0              0
Training Set Y:
 0    0
9    1
2    0
5    1
3    0
8    0
Name: Purchased, dtype: int64
Training Set Y:
 1    1
7    1
Name: Purchased, dtype: int64
Ukuran Training Set:  (6, 5) (6,)
Ukuran Test Set:  (2, 5) (2,)

# 8. Feature Scaling

In [63]:

# Melakukan feature scaling pada atribut
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Menampilkan hasil feature scaling pada X_train dan X_test
print('Data X_train setelah Feature Scaling: \n', X_train_scaled)
print('Data X_test setelah Feature Scaling: \n', X_test_scaled)

Data X_train setelah Feature Scaling:
 [[ 0.77771377  0.63897659  1.         -0.70710678 -0.4472136 ]
 [-0.31108551  0.12088746  1.         -0.70710678 -0.4472136 ]
 [-1.39988479 -1.22614427 -1.          1.41421356 -0.4472136 ]
 [-0.62217102 -0.81167297  1.         -0.70710678 -0.4472136 ]
 [-0.15554275 -0.50081949 -1.         -0.70710678  2.23606798]
 [ 1.7109703   1.77877267 -1.          1.41421356 -0.4472136 ]]
Data X_test setelah Feature Scaling:
 [[-1.86651305 -1.84785122 -1.         -0.70710678  2.23606798]
 [ 1.39988479  1.36430137  1.         -0.70710678 -0.4472136 ]]